<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Show</title>
</head>
<body>
    
    <button><a href="/dashboard">Home</a></button>

    <button><a href="/logout">Logout</a></button>

    <h2>{{ show.title }}</h2>

    <p>Network: {{ show.network }}</p>

    <p>Release Date: {{ show.release_date.strftime("%b %d %Y") }}</p>

    <p>Description: {{ show.description }}</p>

    <p>Posted By: {{ user.first_name }}</p>

</body>
</html>